<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <fieldset>
        <h1>My Information</h1><br>
        <form name='regForm' id="myInfo">

<div class="ng-scope" ng-if="!myInfoController.notSigned">
    <div class="row">
        <div class="col-md-12 ng-binding">First Name: {{myInfoController.userInfo.firstName}}</div>
        <div class="col-md-12 ng-binding">Last Name: {{myInfoController.userInfo.lastName}}</div>

        <div class="col-md-12 ng-binding">Email: {{myInfoController.userInfo.email}}</div>

        <div class="col-md-12 ng-binding">Phone: {{myInfoController.userInfo.phone}}</div>

        <div class="col-md-12 ng-binding">Fvorite Dish: {{myInfoController.userInfo.favoriteDish}}
            <img class="img-responsive" width="250" height="150" ng-src="{{myInfoController.basePath}}/images/{{myInfoController.userInfo.favoriteDish}}.jpg" alt="{{myInfoController.userInfo.favoriteDish}}">

        </div>


    </div>
</div>
            <div ng-if="myInfoController.notSigned">
                Not Signed Up Yet. Please <a ui-sref="public.signup" href="#/signUp"> Sign Up Now!!</a></div>
        </form>

    </fieldset>
</div>
</div>